div#aircraft_comparison {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

  div.aircraft_container {
    flex-basis: 50%;
    flex-grow: 1;

    &.aircraft_1 {

    }

    &.aircraft_2 {

    }

    select {
      width: 99%;

      &.aircraft_category_select {

      }

      &.aircraft_select {

      }
    }
  }
}

table#comparison_table {
  width: 100%;
  border-collapse: collapse;
  border: none;
  border-spacing: 0;

  font-size: 12px;

  tr {

    &.highlight {

      td {

      }
    }

    &.split {
      display: none;
      border-bottom: 1px solid #999;
    }

    td {
      border: none;
      padding: 0;
      margin: 0;
      width: 48%;

      h5.comp-title {
        font-size: 20px;
        margin: 0;
        padding: 1em 0 0.5em 0;
      }

      &.comp_mid_row {
        width: 4%;
      }

      table.comparison_subtable {
        width: 100%;
        border-collapse: collapse;
        border: none;
        border-spacing: 0;
        padding: 0;
        margin: 0;
        display: none;

        tr {

          td {
            border: none;
            padding: 0.25em 0.25em 0.25em 0;
            width: auto;

            &.comp_subheading {
              font-weight: 700;
              padding: 1em 0 0.5em 0;
            }

            &.comp_label {
              font-weight: 400;
              text-align: left;
              width: 220px;
            }

            &.comp_data {
              font-weight: 400;
              text-align: right;

              &.total {
                border-top: 1px solid #999;
              }
            }
          }
        }
      }
    }
  }
}