@charset "UTF-8";
/* CSS Document */

body,html { min-height: 100%; }

@media screen and (max-width:980px) {
  .map-options {
    display: none !important;
  }
}

.info-title {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-style: italic;
  font-size: 14px;
  padding: 0;
  color: #ffffff;
  background: #595959;
  margin: 0;
  display: block;
  text-align: center;
}

.map-options {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 12px;

  display: block;
  color: #333333;
  padding: 6px 6px 12px 25px;
  margin: 12px 0 0 0;
  background-color: #cccccc;
}

.option-heading {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 12px;

  display: block;
  padding: 4px;
  color: #333333;
  margin-top: 12px;
  margin-bottom: 6px;
}

.range-option {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 12px;

  display: block;
  width: 172px;
  padding: 4px;
  border: 0px;
  margin-bottom: 16px;
}

#fullscreen {
  display: block;
  z-index: 999999;
  position: absolute;
  bottom: 10px;
  left: 60px;
  border: 1px solid #929292;
  background-color: #666;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 12px;
  cursor: pointer;

  a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    padding: 8px 14px;
    display: block;

    &:hover {
      background-color: #333;
    }
  }
}

#key {
  display: block;
  z-index: 999999;
  position: absolute;
  bottom: 10px;
  right: 10px;
  width: 144px;
  height: 81px;
  border: 1px solid #333333;
}