@charset "UTF-8";
/* CSS Document */

@media screen and (max-width:980px) {
  #range_finder {
    display: none !important;
  }
  #range_finder_mobile {
    display: block !important;
  }
}

/* Parent Container */
#range_finder {
  position: relative;
  overflow: hidden;
}

#range_finder_mobile {
  display: none;
  text-align: center;
}

#map-loading {
  text-align: center;
  padding-top: 150px;
  background: #ffffff;

  z-index: 99999999999;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#range_nav {
  background: #dd002b;
  width: 100%;

  a {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #ffffff;
    font-weight: 600;

    display: block;
    width: 20%;

    text-decoration: none;
    text-align: center;
    float: left;

    padding-top: 11px;
    padding-bottom: 10px;

    cursor: pointer;

    &:hover {
      color: #333333;
    }

    span {
      font-family: Arial, Helvetica, sans-serif;
      font-size: 9px;
      margin-top: 3px;
      display: block;
    }
  }
}

#range_prompt {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 180px;
  height: 82px;

  margin-top: -41px;
  margin-left: -90px;

  z-index: 999999;

  border-radius: 9px;
  -moz-border-radius: 9px;

  box-shadow: 0 0 25px 4px #777777;
  -moz-box-shadow: 0 0 25px 4px #777777;

  background: #FFFFFF;
  padding: 8px;

  a {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #666666;
    font-weight: 400;
    display: block;
    text-decoration: none;
    text-align: center;
    padding-top: 10px;
    cursor: pointer;

    &:hover {
      color: #333333;
    }

    span {
      font-size: 9px;
      margin-top: 3px;
      display: block;
    }
  }
}


.range_dropdown {
  display: block;
  background: url('/wp-content/plugins/pinnacle-range-comparison/dist/images/range_dd_bg.png');
  background-position: top left;
  position: absolute;
  top: 65px;
  z-index: 450;

  div.selectors, div.viewport {

    a {
      display: block;
      font-family: 'Open Sans', sans-serif;
      border-bottom: 1px solid #999999;
      color: #ffffff;
      text-decoration: none;
      cursor: pointer;

      &.tab-select {
        width: 50%;
        float: left;
        font-size: 11px;
        font-weight: bold;
        background-color: #666;
        text-align: center;
        padding: 8px 0;

        &:hover {
          background-color: #454545
        }

        &.active {
          background: #454545;
        }
      }

      &.plane-select, &.city-select {
        padding: 9px 15px;
        font-style: italic;
        font-size: 13px;

        &:hover {
          background-color: #666666;
        }
      }
    }
  }
}

#continent_dd {
  left: 0;
  width: 20%;

  a.continent-select {
    display: block;
    font-family: 'Open Sans', sans-serif;
    border-bottom: 1px solid #999999;
    color: #ffffff;
    text-decoration: none;
    cursor: pointer;
    padding: 9px 15px;
    font-style: italic;
    font-size: 13px;

    &:hover {
      background-color: #666666;
    }
  }
}

#city_dd {
  left: 20%;
  width: 20%;
  height: 400px;
}

.viewport { width: 90%; height: 400px; overflow: hidden; position: relative; }
.overview { width: 100%; list-style: none; position: absolute; left: 0; top: 0; padding-top: 0px; }
.thumb .end,
.thumb { background-color: #676767; }
.scrollbar { position: relative; float: right; width: 10%; height: 400px; }
.track { background-color: #999999; height: 400px; width:100%; position: relative; padding: 0; }
.thumb { height: 20px; width: 100%; cursor: pointer; overflow: hidden; position: absolute; top: 0; }
.thumb .end { overflow: hidden; height: 5px; width: 100%; }
.disable{ display: none; }
.noSelect { user-select: none; }



#plane_a_dd {
  left: 40%;
  width: 20%;
  height: 438px;
}

#plane_b_dd {
  left: 60%;
  width: 20%;
  height: 438px;
}

#plane_c_dd {
  left: 80%;
  width: 20%;
  height: 438px;
  background-position: 86px 0;
}